body {
    background-image: url(images/background_header.jpg);
    background-size: contain;
    background-position: right;
    padding-right: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin: 0px;
 }

h1 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 250px;
    left: 60px;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: lighter;
    position: relative;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    position: relative;
    background: #30343f;
    bottom: 0px;
}

.fondo {
    width: 50%;
    height: 0px;
    border-right: 100px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 510px solid #db5461;
    position: relative;
 }

.titulo {
    color: #30343f;
 }

.lista li{ 
    color: #30343f;
    text-decoration: none;
    display: inline; 
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.lista {
    position: absolute;
    padding-top: 10px;
    top: 60px;
    right: 50px;
    width: 330px;
    height: 30px;    
    background-color: white;
    box-shadow: 1px 1px 5px #30343f;
    position: absolute;
    font-weight: bold;
}

.logo {
    padding-left: 60px;
    padding-top: 60px;
}

.button {
    width: 160px;
    height: 40px;
    background-color: white;
    color: #30343f;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 350px;
    border-color: #30343f;
    box-shadow: 1px 1px 5px #30343f;
    border-width: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 30px;
}

.button:hover {
    background-color: #30343f;
    color: white;
}

.footertext {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
}

.menú {
    display: none;
} 

#footer {
    background-color: #30343f;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#footer div div {
    display: flex;
    justify-content: center;
    line-height: 15%;
    align-items: center;
    flex-direction: column;
}

#footer div img {
    padding: 10px;
}

@media screen and (max-width:360px) {
    h1 {
        font-size: 24px;
        left: 30px;
    }

    body {
        background-size: auto;
    }

    .lista {
        display: none;
     } 

    .menú {
        background: white;
        background-image: url(images/view_headline-24px.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 50px;
        right: 35px;
    }
    .menú:hover{
        background-color: #30343f;
        color: white;
    } 
    
    #footer {
        display: flex;
        position: relative;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #footer div{
        justify-content: row;
        flex-direction: column;
    padding:10px ;
    }

    .fondo {
        right: 0px;
        width: auto;
    }

    .logo {
        width: 100px;
        left: 60px;
        top: 60px;
        animation-name: logo;
        animation-duration: 4s;
    }
    
    @keyframes logo {
        50% {
            transform: scale(1.5)
        }
    }
}